/* -----------------------------------------
    Globalne settings
----------------------------------------- */
/*fonty*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*odstranenie marginu a paddingu z dokumentu*/
body, html {
    padding: 0;
    margin: 0;
}
/*kontajner*/
.container,
/*kontajner wrapper - uzsi*/
.container-wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
}
/*full width kontajner, ktoreho background je roztiahnuty na plne rozmery*/
.container-cover {
    width: 100%;
    background-size: 100% 100%;
}
/*obsah v cover kontajnery*/
.cover-content {
    position: absolute;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*cover stranky - podnadpis*/
.cover-content h6 {
    font-size: 18px;
    font-weight: 600;
}
/*cover stranky - hlavny nadpis*/
.cover-content h1 {
    font-size: 74px;
}
/*cover stranky - druhy podnadpis*/
.cover-content h3 {
    line-height: 35px;
    font-family: 'Lobster', cursive;
}
/*sekcie pre rozne casti contentu*/
.content-section {
    display: block;
}
/*sedy background*/
.bg-grey {
    /*background-color: #edeeef;*/
    background-image: url('../files/gplay.png');
    background-attachment: fixed;
}
/*nadpis sekcie*/
.section-title {
    font-family: 'Patua One', cursive;
    display: inline-block;
    font-weight: 800;
    font-size: 32px;
    border-bottom: 4px solid #e0e0e0;
}
/*podnadpis*/
.subtitle {
    font-family: Montserrat, sans-serif;
}
/*regular texty na stranke*/
.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(26,26,26,.9);
}
/*----------- custom buttony -----------*/
/*cierny button*/
.btn-black {
    border-radius: 0;
    background-color: #FFF;
    border-color: #000;
    color: #000 !important;
    transition: all 0.5s;
}
/*cierny button - hover*/
.btn-black:hover {
    background-color: #000;
    color: #FFF !important;
}
/*vyclearovanie dalsieho contentu*/
.clear-content::after {
    content: '';
    display: block;
    clear: both;
}
/* -----------------------------------------
    Navbar
----------------------------------------- */
/*navigacne menu*/
.navbar {
    margin-bottom: 0;
    margin-top: 20px;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    font-weight: 800;
    line-height: 1.4 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    transition: all 0.6s ease;
}
/*---------- animacia pripnutia navbaru k vrchu stranky ----------*/
.navbar-scrolled {
    margin-top: 0;
    background-color: #424242;
    box-shadow: 0 2px 3px rgba(0,0,0, .4);
}
/*farba pozadia navbar menu pri mobile view*/
.navbar-right {
    background-color: #000;
}
/*logo v navigacnom menu*/
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
/*hovernuty link + aktivny link v menu*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}
/*ikona menu pri monile view*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
/*hovernuta ikona menu pri monile view*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
/*logo stranky v navbare*/
.navbar-header img {
    position: absolute;
    top: 0px;
    width: 75px;
}

/* -----------------------------------------
    Titulna strana
----------------------------------------- */
/*obsah nachadzajuci sa vo viewporte stranky*/
#view-container {
    position: relative;
    height: 100vh;
    background-image: url('images/title-mobile.png');
}
/*------------ animacia scrollovania ------------*/
.scroll-icon {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border-radius: 15px;
    border: 2px solid white;
    text-align: center;
}
/*animacia scrollovania*/
.scroll-icon::before {
    content: '↓';
    color: #fff;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    position: relative;
    -moz-animation: scroll 1.5s infinite ease-in-out;
    -webkit-animation: scroll 1.5s infinite ease-in-out;
    animation: scroll 1.5s infinite ease-in-out;
}
/*------------ keyframes pre animaciu scrollovania ------------*/
@-moz-keyframes scroll {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}

/* -----------------------------------------
    Sekcia "o mne"
----------------------------------------- */
/*foto*/
#about img {
    max-height: 700px;
    margin: 0 auto;
}
/*text*/
#about .text {
    text-align: justify;
    line-height: 20px;
    letter-spacing: 1px;
}
/* -----------------------------------------
    Sekcia "moje skills"
----------------------------------------- */
/*panel, obsahuje jednotlive zrucnosti*/
.panel {
    max-width: 310px;
    margin: 20px auto;
    border-radius:0 !important;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 0.5s ease;
}
/*heading panelu*/
.panel-heading {
    color: #fff !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*obrazok v paneli*/
.panel-body img {
    width: 128px;
    height: 128px;
    max-width: 100%;
}
/*progress bar v paneli*/
.progress {
    box-shadow: 1px 1px 4px rgba(101, 101, 101, 0.77);
}
/* -----------------------------------------
    Panely pre jednotlive zrucnosti
----------------------------------------- */
/*--------------- HTML ---------------*/
/*cely panel*/
.panel-html {
    border: 1px solid #f4511e;
}
/*hovernutie panelu*/
.panel-html:hover {
    box-shadow: 5px 0px 40px #f4511e;
}
/*heading panelu*/
.panel-html .panel-heading {
    background-color: #f4511e !important;
}
/*progress bar*/
.panel-html .progress-bar {
    background-color: #f4511e !important;
}
/*--------------- CSS ---------------*/
/*cely panel*/
.panel-css {
    border: 1px solid #379ad6;
}
/*hovernutie panelu*/
.panel-css:hover {
    box-shadow: 5px 0px 40px #379ad6;
}
/*heading panelu*/
.panel-css .panel-heading {
    background-color: #379ad6 !important;
}
/*progress bar*/
.panel-css .progress-bar {
    background-color: #379ad6 !important;
}
/*--------------- JAVA SCRIPT ---------------*/
/*cely panel*/
.panel-js {
    border: 1px solid #ffda3e;
}
/*hovernutie panelu*/
.panel-js:hover {
    box-shadow: 5px 0px 40px #ffda3e;
}
/*heading panelu*/
.panel-js .panel-heading {
    background-color: #ffda3e !important;
}
/*progress bar*/
.panel-js .progress-bar {
    background-color: #ffda3e !important;
}
/*--------------- PHP ---------------*/
/*cely panel*/
.panel-php {
    border: 1px solid #777bb4;
}
/*hovernutie panelu*/
.panel-php:hover {
    box-shadow: 5px 0px 40px #777bb4;
}
/*heading panelu*/
.panel-php .panel-heading {
    background-color: #777bb4 !important;
}
/*progress bar*/
.panel-php .progress-bar {
    background-color: #777bb4 !important;
}
/*--------------- SQL ---------------*/
/*cely panel*/
.panel-sql {
    border: 1px solid #00618a;
}
/*hovernutie panelu*/
.panel-sql:hover {
    box-shadow: 5px 0px 40px #00618a;
}
/*heading panelu*/
.panel-sql .panel-heading {
    background-color: #00618a !important;
}
/*progress bar*/
.panel-sql .progress-bar {
    background-color: #00618a !important;
}
/*--------------- jQuery ---------------*/
/*cely panel*/
.panel-jquery {
    border: 1px solid #0f69ab;
}
/*hovernutie panelu*/
.panel-jquery:hover {
    box-shadow: 5px 0px 40px #0f69ab;
}
/*heading panelu*/
.panel-jquery .panel-heading {
    background-color: #0f69ab !important;
}
/*progress bar*/
.panel-jquery .progress-bar {
    background-color: #0f69ab !important;
}
/*--------------- LARAVEL ---------------*/
/*cely panel*/
.panel-laravel {
    border: 1px solid #f56851;
}
/*hovernutie panelu*/
.panel-laravel:hover {
    box-shadow: 5px 0px 40px #f56851;
}
/*heading panelu*/
.panel-laravel .panel-heading {
    background-color: #f56851 !important;
}
/*progress bar*/
.panel-laravel .progress-bar {
    background-color: #f56851 !important;
}
/*--------------- BOOTSTRAP ---------------*/
/*cely panel*/
.panel-bootstrap {
    border: 1px solid #391a42;
}
/*hovernutie panelu*/
.panel-bootstrap:hover {
    box-shadow: 5px 0px 40px #391a42;
}
/*heading panelu*/
.panel-bootstrap .panel-heading {
    background-color: #391a42 !important;
}
/*progress bar*/
.panel-bootstrap .progress-bar {
    background-color: #391a42 !important;
}
/*------------- zoznam s dalsimi skusenostami -------------*/
.other-skills ul {
    display: inline-block;
    text-align: left;
}

/* -----------------------------------------
    Moje vybavenie 
----------------------------------------- */
/*kontajner*/
#my-gear {
    position: relative;
    height: 75vh;
    background-image: url('images/my_setup.jpg');
}

/* -----------------------------------------
    Sekcia "portfolio"
----------------------------------------- */
/*vertikalne vycentrovanie obsahu sekcie na stred*/
#portfolio div.content-align-vertical {
    margin-top: 30px;
}
/*nahladova foto projektu*/
.project-image img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 2px 2px 10px darkgrey;
}
/*nazov projektu*/
.project-descr .project-title,
/*overlay content cez foto projektu*/
.project-image .middle {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}
/*text k projektu*/
.project-descr .project-text {
    color: rgba(26,26,26,.9);
    font-family: 'Open Sans', sans-serif;
}
/*vyznacenie pouzitych technologii*/
.project-text span {
    text-decoration: underline;
    color: #000;
    display: block;
}
/*overlay obrazku projektu*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
/*obrazok projektu pri hovernuti*/
.project-image:hover img {
  opacity: 0.3;
}
/*overlay pri hovernuti obrazku projektu*/
.project-image:hover .middle {
  opacity: 1;
}

/* -----------------------------------------
    Foto album
----------------------------------------- */
/*fotka vo fotoalbume*/
#photo-album img {
    width: 100%;
    height: 125px;
}
/*odstranenie padingu v bootstrap divoch*/
#photo-album div[class*='col-'],
.map-container div[class*='col-'] {
    padding: 0;
}
/* -----------------------------------------
    Kontakt
----------------------------------------- */
/*wrapper pre kontakt container*/
.contact-wrapper {
    height: auto;
    background-image: url("images/bratislava2-dark.jpg");
}
/*farba vsetkych textov v kontakt sekcii*/
.contact-wrapper * {
    color: #FFF;
}
.contact-wrapper a:hover {
    color: #00d2f1;
}
/*wrapper pre kontaktne informacie*/
.contact-info-wrapper {
    border-bottom: 2px solid #c3c3c3;
}
/*kontaktne informacie*/
.contact-info-wrapper #contact-info {
    line-height: 25px;
}
/*moja adresa*/
 #address span:not(:first-child){
    display: block;
    text-indent: 22px;
}
/*------------- kontaktny formular -------------*/
/*podnadpisy vo formulari*/
.contact-form h3,
.contact-form h4 {
    text-align: center;
}
/*inputy formularu*/
.contact-form .form-control {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.28);
    border-color: #FFF;
}
/*uprava placeholdera formularu*/
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }
/*kontajner pre google mapu*/
#google-map {
    height: 400px;
    width: 100%;
}
/* -----------------------------------------
    Footer
----------------------------------------- */
footer {
    background-color: #26262a;
    color: #FFF;
    font-family: "Montserrat";
}
footer a:hover{
    color: #00d2f1;
}
/* -----------------------------------------
    Social icons
----------------------------------------- */

/*social icons*/
 .social-icons img{
    width: 32px;
    margin-left: 10px;
}
/* -----------------------------------------
    Animacia - slide contentu
----------------------------------------- */
/*triedy, ktore maju elementy na zaciatku*/
.slide-anim-down,
.slide-anim-left,
.slide-anim-right {
    visibility:hidden;
}
/*slide zdola - hore*/
.slide-down {
    animation-name: slide-down;
    -webkit-animation-name: slide-down;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
/*keyframes pre animaciu slide-down*/
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/*slide zlava - doprava*/
.slide-left {
    animation-name: slide-left;
    -webkit-animation-name: slide-left;
    animation-duration: 1s;`
    -webkit-animation-duration: 1s;
    visibility: visible;
}
/*keyframes pre animaciu slide-left*/
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
/*slide zprava - dolava*/
.slide-right {
    animation-name: slide-right;
    -webkit-animation-name: slide-right;
    animation-duration: 1s;`
    -webkit-animation-duration: 1s;
    visibility: visible;
}
/*keyframes pre animaciu slide-right*/
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

/* -----------------------------------------
    media queries
----------------------------------------- */
/*min-width: 480px*/
@media screen and (min-width: 480px) {
    /*nadpis sekcie*/
    .section-title {
        font-size: 38px;
        margin-bottom: 40px;
    }
    /* -----------------------------------------
        Titulna strana
    ----------------------------------------- */
    /*titulok stranky - hlavny nadpis*/
    .cover-content h1 {
        font-size: 84px;
    }
    /* -----------------------------------------
        Foto album
    ----------------------------------------- */
    #photo-album img {
        height: 205px;
    }

}
/*min-width: 768px*/
@media screen and (min-width: 768px) {
    /* -----------------------------------------
        Navbar
    ----------------------------------------- */
    /*farba pozadia navbar menu pri desktop view*/
    .navbar-right {
        background-color: transparent;
    }
    /*kontajner - odstup zdola*/
    .container {
        padding-bottom: 80px;
    }
    /*kontajner wrapper - uzsi*/
    .container-wrapper {
        padding: 30px 20px 80px;
    }
    /*vertikalne vycentrovanie obsahu sekcie na stred*/
    .content-align-vertical {
        display: flex;
        align-items: center;
    }
    /* -----------------------------------------
        Titulna strana
    ----------------------------------------- */
    /*background image view kontajnera pri desktop view*/
    #view-container {
        background-image: url('images/title-desktop.png');
    }
    /*titulok stranky - hlavny nadpis*/
    .cover-content h1 {
        font-size: 100px;
    }
    /*titulok stranky - druhy podnadpis*/
    .cover-content h3 {
        font-size: 30px;
    }
    /* -----------------------------------------
    Sekcia "moje skills"
    ----------------------------------------- */
    /*wrapper pre panel*/
    .skill-card {
        padding: 0 17px;
    }
    /* -----------------------------------------
        Sekcia "portfolio"
    ----------------------------------------- */
    /*nahladove fotky prac*/
    .project-image img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    /*text k projektu*/
    .project-descr {
        text-align: left;
    }
    /*vyznacenie pouzitych technologii*/
    .project-text span {
        display: inline;
    }
    .project-text span::after {
        content: ": ";
    }
    /* -----------------------------------------
        Foto album
    ----------------------------------------- */
    /*foto v albume*/
    #photo-album img {
        height: 250px;
    }
    /* -----------------------------------------
        Kontakt
    ----------------------------------------- */
    /*wrapper pre kontaktne informacie*/
    .contact-info-wrapper {
        text-align: left;
    }
    /* -----------------------------------------
        Social icons
    ----------------------------------------- */
    /*social icons - transition efekt*/
    .social-icons img{
        transition: all .2s;
    }
    .social-icons img:hover{
        transform: scale(1.4);
    }
    
}
/*min-width: 992px*/
@media screen and (min-width: 992px) {
    /*kontajner wrapper - uzsi*/
    .container-wrapper {
        padding: 30px 80px 80px;
    }
    /* -----------------------------------------
        Titulna strana
    ----------------------------------------- */
    /*titulok stranky - hlavny nadpis*/
    .cover-content h1 {
        font-size: 110px;
    }
    /*titulok stranky - druhy podnadpis*/
    .cover-content h3 {
        font-size: 35px;
    }
    /*nadpis sekcie*/
    .section-title {
        font-size: 40px;
    }
    /* -----------------------------------------
    Sekcia "moje skills"
    ----------------------------------------- */
    /*wrapper pre panel*/
    .skill-card {
        padding: 0 26px;
    }

    /* -----------------------------------------
        Foto album
    ----------------------------------------- */
    #photo-album img {
        height: 290px;
    }
}
/*min-width: 1200px*/
@media screen and (min-width: 1200px) {
    /* -----------------------------------------
    Sekcia "moje skills"
    ----------------------------------------- */
    /*wrapper pre panel*/
    .skill-card {
        padding: 0 50px;
    }

    /* -----------------------------------------
        Foto album
    ----------------------------------------- */
    #photo-album img {
        height: 340px;
    }
}